tifffile
nibabel
timeout_decorator
absl-py==0.7.1
alt-model-checkpoint==2.0.2
astor==0.8.0
audioread==2.1.8
bleach==1.5.0
certifi==2019.6.16
cffi==1.12.3
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
deepdish==0.3.6
enum34==1.1.6
gast==0.2.2
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.9.0
html5lib==0.9999999
imageio==2.5.0
joblib==0.13.2
librosa==0.7.0
llvmlite==0.29.0
Markdown==3.1.1
marshmallow==3.0.0b20
matplotlib==2.1.2
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
networkx==2.3
numba==0.45.1
numexpr==2.7.0
numpy==1.17.0
opencv-python==4.1.0.25
pandas==0.25.0
pbstools==0.1.0
Pillow==6.1.0
protobuf==3.9.1
psycopg2-binary==2.8.3
pycparser==2.19
pymongo==3.9.0
pyparsing==2.4.2
PySoundFile==0.9.0.post1
python-dateutil==2.8.0
pytz==2019.2
PyWavelets==1.0.3
PyYAML==5.1.2
resampy==0.2.2
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
six==1.12.0
SoundFile==0.10.2
tables==3.5.2
tensorboard==1.9.0
tensorflow==1.9.0
tensorflow-estimator==1.14.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tifffile==2019.7.26
Werkzeug==0.15.5
zipfile36==0.1.3
