nibabel
timeout_decorator
h5py
matplotlib
numpy
opencv-python
pandas
python-dateutil
scikit-image
scikit-learn
scipy
tensorboard==1.9.0
tensorflow==2.3.0
tensorflow-estimator==1.14.0
tensorflow-tensorboard==0.4.0
tifffile